@page "/"

<h1>Hello, world! 2</h1>
<p>
    put in each page a different style demo to have a comparison between different style providers
    and test the ssr of the blazor package
</p>

<p>go to details page: <a href="./details">Details</a></p>
