@page "/"


<p>Add some code that will show articles and their summary</p>
<p>Add some code that will allow you to chat with gemini directly</p>

<p>go to details page: <a href="./details">Details</a></p>
